<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<conversionRule conversionWord="colorWorld"
		converterClass="com.cangsg.web.common.component.DDAnsiConverter" />
	<!-- 文件输出格式 -->
	<property name="PATTERN"
		value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />
	<!-- test文件路径 -->
	<property name="TEST_FILE_PATH" value="c:/opt/app/logs" />
	<!-- pro文件路径 -->
	<property name="PRO_FILE_PATH" value="./opt/app/logs" />

	<!-- 开发环境 -->
	<springProfile name="dev">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<withJansi>true</withJansi>
			<encoder charset="UTF-8">
				<pattern>%colorWorld</pattern>
			</encoder>
		</appender>

		<logger name="com.cangsg.oa" level="debug" />

		<root level="info">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<!-- 测试环境 -->
	<springProfile name="test">
		<!-- 每天产生一个文件 -->
		<appender name="TEST-FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<!-- 文件路径 -->
			<file>${TEST_FILE_PATH}</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!-- 文件名称 -->
				<fileNamePattern>${TEST_FILE_PATH}/info.%d{yyyy-MM-dd}.log
				</fileNamePattern>
				<!-- 文件最大保存历史数量 -->
				<MaxHistory>100</MaxHistory>
			</rollingPolicy>

			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>

		<root level="info">
			<appender-ref ref="TEST-FILE" />
		</root>
	</springProfile>

	<!-- <springProfile name="prod"> <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<file>${PRO_FILE_PATH}</file> <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
		<fileNamePattern>${PRO_FILE_PATH}/warn.%d{yyyy-MM-dd}.log </fileNamePattern> 
		<MaxHistory>100</MaxHistory> </rollingPolicy> <layout class="ch.qos.logback.classic.PatternLayout"> 
		<pattern>${PATTERN}</pattern> </layout> </appender> <root level="warn"> <appender-ref 
		ref="PROD_FILE" /> </root> </springProfile> -->

	<!-- 生产环境 -->
	<springProfile name="prod">
		<appender name="db-classic-mysql" class="ch.qos.logback.classic.db.DBAppender">
			<connectionSource
				class="ch.qos.logback.core.db.DriverManagerConnectionSource">
				<driverClass>com.mysql.jdbc.Driver</driverClass>
				<url>jdbc:mysql://192.168.21.131/oa?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false
				</url>
				<user>root</user>
				<password>4515</password>
			</connectionSource>
		</appender>

		<root level="warn">
			<appender-ref ref="db-classic-mysql" />
		</root>
	</springProfile>
</configuration>
